.content-table {
    display: table; 
    width:95%;
    border-collapse: separate;
    position: relative;
    border-spacing: 0 0.5em;
    margin: 0 auto;
}

.content-row {
    display: table-row;
    margin: 8px auto;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    transition: 0.1s;
    border: 1px solid #C0C0C0;
}

.col1{
    display: table-cell;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    font-size: large;
    vertical-align: middle;
    border: 1px solid #C0C0C0;
}
.col2{
    display: table-cell;
    margin: 0 auto;
    text-align: center;
    width: 85%;
    vertical-align: middle;
    border: 1px solid #C0C0C0;
}

.datesquare{
    color: black;
    width: 80px;
}

.rsvpd {
    background-color: #daebe8;
}


.content-table .content-row:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #ffff99;
}


.textcontainer {
    padding: 0px 0px;
    margin: 0px auto;
    text-align: center;
}
.xsmall{
    font-size: x-small;
}
.xlarge{
    font-size: xx-large;
}
