.Nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.Nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Nav li{
    display: inline-block;
    margin: 20px;
}

.Nav a{
    text-decoration: none;
    color: black;
}

.Nav a:hover,
.Nav a:active {
    color: orange;
    text-decoration: none;
}

.active {
    color: 	#CCCC00;
    border-bottom: 4px solid #CCCC00;
}